.card {
  display: flex;
  flex-direction: column;
  color: black;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  width: 282px;
  height: 79px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.card__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.card__btn {
  width: 21px;
  height: 18px;
}
