.gallery {
  font-family: Inter;
  color: white;
}

.gallery__container {
  margin-top: 51px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, auto);
  column-gap: 17px;
  row-gap: 20px;
  justify-content: center;
}

/* Tablet Layout */
@media all and (max-width: 1080px) {
  .gallery__container {
    grid-template-columns: repeat(2, auto);
  }
}

/* Mobile Layout */
@media all and (max-width: 320px) {
  .galley__container {
    grid-template-columns: 282px;
  }
}
