.header {
  box-sizing: border-box;
  border-bottom: 1px solid #545454;
  width: 100%;
}

.header__logo {
  width: 173px;
  height: 33px;
  padding-bottom: 41px;
}

/* Mobile Layout */

@media all and (max-width: 320px) {
  .header__logo {
    margin-left: 27px;
  }
}
