/*
  Incomplete, I just didn't finish the last steps tonight but
  wanted to get started on having the comments for finishing my
  submission tomorrow. Thanks!

*/

.page {
  font-family: Inter;
  color: white;
  display: flex;
  justify-content: center;
  max-width: 1280px;
}

.page__wrapper {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 880px;
  padding: 45px 0 60px;
}
