/*   Incomplete, I just didn't finish the last steps tonight but
  wanted to get started on having the comments for finishing my
  submission tomorrow. Thanks!
*/

@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/gallery.css);
@import url(../blocks/card.css);
@import url(../blocks/footer.css);

body {
  background-color: black;
}
@media all and (max-width: 320px) {
  .page__wrapper {
    width: 320px;
    padding: 28px 0 36px;
  }

  .profile {
    width: 282px;
    margin: auto;
  }

  .profile__container {
    flex-direction: column;
  }

  .profile__info {
    justify-items: center;
  }

  .profile__name {
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
  }

  .profile__bio {
    font-size: 14px;
    line-height: 16.94px;
  }

  .profile__edit-btn,
  .profile__edit-btn-img {
    width: 18px;
    height: 18px;
  }

  .profile__add-btn,
  .profile__add-btn-img {
    width: 282px;
    height: 50px;
    margin: 0;
  }

  .galley__container {
    grid-template-columns: 282px;
  }

  .card {
    grid-column: 1 / 4;
  }

  .footer__text {
    margin-left: 19px;
    font-size: 14px;
  }
}
@media all and (max-width: 1080px) {
  .gallery__container {
    grid-template-columns: repeat(2, auto);
  }
}
